NODE_ENV=development
BACKEND_PORT=6101
MONGODB_URI=mongodb://localhost:27017/microservice
LOGLEVEL=INFO

JWT_SECRET=horizon-secret

KAFKA_ENABLED=true
KAFKA_BROKER=localhost:9092
KAFKA_TOPIC=logs
KAFKA_SERVICE_NAME=FEEDS

GATEWAY_URL=http://localhost:6900